body {
  background-color: gray;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  margin: auto;
}

h1 {
   font-family: 'Exo', sans-serif;
   margin: auto;
 }

.fa-linkedin {
   color: red;
 }

ul {
  list-style-type: none;
  margin: auto;
}
