body {
  background-color: gray;
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
}

h1 {
  font-family: Exo;
}

.fa {
  padding: 20px;
  font-size: 30px;
  width: 50px;
  text-align: center;
  text-decoration: none;
}

.fa-linkedin {
  color: black;
}
